<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="isobar_checkout" frontName="isobar_checkout">
            <module name="Isobar_Checkout" before="Magento_Checkout" />
        </route>
    </router>
</config>