<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <isobar_checkout>
            <general>
                <enabled>0</enabled>
                <title>Checkout - Onestepcheckout</title>
                <description>Please enter your details below to complete your purchase</description>
            </general>
        </isobar_checkout>
    </default>
</config>